<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="#">Home</a></li>
		        	<li><a href="https://www.linkedin.com/pub/hung-vong/a4/328/389">About</a></li>
	        		<li><a href="#">CV</a></li>
	        		<li><a href="#">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:vong.hung@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hungvong">github.com/hungvong</a></li>
				</ul>
			</footer>
		</body>
	</html>
